<div class="container-fluid">
	<%= render partial: "./partials/nav_bar" %>
	<div class="row">
		<div class="col-2" style="background-color:#e7e4db">
			confirmar?
			
		  	  <label for="get_dog_direction">Direccion: </label>
			  <input type="text" name="get_dog_direction" id="get_dog_direction" placeholder="Calle">

			  <label for="get_dog_city">Ciudad: </label>
			  <input type="text" name="get_dog_city" id="get_dog_city" placeholder="Ciudad">

			  <label for="get_dog_country">Pais: </label>
			  <input type="text" name="get_dog_country" id="get_dog_country" placeholder="Pais">

   		      <button id="get_dog_direction_button" onclick="get_dog_direction_query()">Buscar</button> 
		</div>	
		<div class="col-10" style="background-color:#babec4">
			<%= form_for @dog, method: :put, url: update_dog_path(@dog.id) do |f| %>
			  <%= f.label :name %>:
			  <%= f.text_field :name %><br />

			  <%= f.label :breed %>:
			  <%= f.text_field :breed %><br />

			  <%= f.label :gender %>:
			  <%= f.radio_button :gender, 'male', :checked => true %> 
			  <%= label :gender_male, 'male' %>
			  <%= f.radio_button :gender, 'female' %>
			  <%= label :gender_female, 'female' %><br />

			  <%= f.label :birth_date %>:
			  <%= f.date_field :birth_date %><br />

			  <%= f.label :description %>:
			  <%= f.text_area :description %><br />


   		      <img src="" id="google_map">

			  <%= f.hidden_field :location_lat, :id => 'lat_id' %><br />

			  <%= f.hidden_field :location_lng, :id => 'lng_id' %><br />

		

			  <%= f.submit %>
			<% end %>
		</div>
	</div>
</div>

